@import "navmobile.css";
@import "contato.css";

*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    box-sizing: border-box;   
}

.container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#icon{
    display: none;
}

.border-header{
    border: 1px solid #472563;
}

.logo{
    background: #777;
    margin: 5px;
    padding: 10px;
    width: 100px;
}

nav{
    margin: 5px;
    background: white;
}

nav ul li{
    display: inline-block;
    padding: 10px 0;
}

nav ul li a{
    padding: 20px;
}

nav ul li a:hover{
    background: rgba(71,37,99,0.7);
}

nav ul li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.section1{
    width: 100%;
    height: 600px;
    position: relative;
}

.bg{
    width: 100%;
    height: 100%;
    background-image: url('../imagens/background-pf.jpg');
    background-position: contain;
    background-size: 100% 100%;
}

.bg .acc-form{
    position: absolute;
    top: 400px;
    left: 100px;
}

.bg h2{
    text-shadow: 1px 1px 3px rgba(0,0,0,.8);
    padding-bottom: 10px;
    color: white;
    font-size: 35px;
}

.bg a{
    text-decoration: none;
    background: #472563;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    color: white;
    font-size: 15px;
    cursor: pointer;
}





.section2{
    display: flex;
    width: 100%;
}

.section2 .coluna1{
    float: left;
    width: 60%;
    background: #835FA7;
}

.section2 .coluna1 .descricao{
    margin: 40px 20px 40px 80px ;
}

.coluna1 .descricao p{
    width: 85%;
    height: 100%;
    text-align: justify;
    line-height: 20px;
    color: white;
}

.coluna1 h2{
    color: white;  
    text-shadow: 1px 1px 3px rgba(0,0,0,.8);
}

.section2 .coluna2{
    float: right;
    width: 40%;
}

.section2 .coluna2 .descricao{
    margin: 40px 20px;
}

.coluna2 .descricao p{
    width: 90%;
    text-align: justify;
    line-height: 20px;
}

.coluna2 h2{
    color: #835FA7;  
}

.border-purple{
    width: 180px;
    border-bottom: 2px solid rgb(71,37,99);
}

.equal p{
    padding-top: 20px;
}

footer{
    display: flex;
    width: 100%;
    /*height: 350px;*/
}

.left-footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    background: #47484A;
}

.content{
    margin: 25px 40px;
}

.img-bottom-logo{
    background: #777;
    width: 50px;
    padding: 30px;
}

.content span{
    padding-top: 20px;
    display: block;
    color: #7e57c2;
}

.content p{
    color: white;
}

.right-footer{
    display: flex;
    width: 70%;
   background: #39393A;
}

.right-footer .guias{
    display: flex;
    align-items: center;
    width: 50%;
}

.first-sub-menu{
    width: 50%;
}

.second-sub-menu{
    width: 50%;
}

.sub-menu{
    padding-left: 40px;
    margin: 44px 40px;
}

.right-footer .sub-menu p{
    color: white;
    font-size: 13px;
}

.right-footer  .sub-menu span{
    color: #7e57c2;
}

.right-footer .our-history{
    width: 50%;
    background: #39393A;
}

.right-footer .our-history h2{
   color: white;
   text-shadow: 1px 1px 3px rgba(0,0,0,.8);
   padding-bottom: 10px;
}

.right-footer .our-history p{
    max-width: 500px;
    color: white;
}

.right-footer .ab1{
    text-align: justify;
    margin: 40px 35px;
}

.second-footer{
    display: flex;
    flex-direction: column;
}


.final-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    background: #1E1916;
}

.final-footer p{
    padding-bottom: 5px;
    text-align: center;
    color: #ACABAB;
}

.final-footer span a{
    text-decoration: none;
    color: #835FA7;
    
}








@media(max-width: 1080px){

    /*START SECTION2*/

    .section2{
        display: flex;
        flex-direction: column;
    }

    .section2 .coluna1{
       width: 100%;
    }

    .section2 .coluna1 .descricao{
        margin: 40px 0;
        text-align: center;
    }

    .section2 .descricao p{
        width: 95%;
        margin:  0 auto;
    }

    .section2 .coluna2{
        width: 100%;
    }

    .section2 .coluna2 .descricao{
        margin: 40px 0;
        text-align: center;
    }

    .border-purple{
        margin: 0 auto;
        width: 180px;
        border-bottom: 2px solid rgb(71,37,99);
    }

     /*ENDS SECTION2*/


     /*START SECTION3*/

    .section3{
        width: 100%;
    }

    /*ENDS SECTION3*/

    

    footer{
        display: flex;
        flex-direction: column;
    }

    footer .left-footer{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    footer .content{
        text-align: center;
        margin: 50px;
    }

    footer .content .img-bottom-logo{
        margin: 0 auto;
    }

    footer  .right-footer{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    footer .right-footer .guias{
        display: none;
    }

    footer .right-footer .our-history{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    footer .right-footer .ab1{
        text-align: justify;
        margin: 40px 10px;
    }
}

@media(max-width: 768px){
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #icon{
        display: block;
        position: absolute;
        right: 10px;
        font-size: 35px;
        color: #472563;
        cursor: pointer;
        z-index: 999;
    }

    nav{
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 350px;
        height: 100vh;
        padding: 100px 20px;
        z-index: 998;
        transition: 0.5s ease;
    }

    nav.ativa{
        right: 0;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    nav ul li{
        padding: 20px 0;
    }

    nav ul li a{
        padding: 20px 100px;
    }

    .section1{
        width: 100%;
        height: 400px;
        position: relative;
    }

    .bg .acc-form{
        position: absolute;
        top: 260px;
        left: 30px;
    }


}