.nav-mobile{
    display: none;
    float: right;
}

.nav-mobile i{
    position: relative;
    font-size: 25px;
    top: 30px;
    color: #472563;
    cursor: pointer;
}

.nav-mobile ul{
    display: none;
    left: 0;
    top: 68px;
    z-index: 2;
    position: absolute;
    list-style-type: none;
    border-bottom: 2px solid #472563;
    transition: 0.5s ease;
}

.nav-mobile ul.ativa-nav{
    display: block;
    width: 100%;
    height: 100px;
    background: white;
}



.nav-mobile ul li{
    text-align: center;
    padding: 8px 0;
}

.nav-mobile ul li a{
    padding: 8px 40%;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav-mobile li:hover{
    background: rgba(71,37,99,0.7);
}