.nav-mobile{
    display: none;
    float: right;
}

.nav-mobile  i{
    position: relative;
    font-size: 25px;
    top: 30px;
    color: #472563;
    cursor: pointer;
}

.nav-mobile ul{
    display: none;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 65px;
    background: white;
    width: 100%;
    list-style-type: none;
    border-bottom: 2px solid #472563;
    animation: SmootherNav 0.3s ease-in-out;
}


@keyframes SmootherNav{
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(0);
    }
}


.nav-mobile ul li{
    text-align: center;
    padding: 8px 0;
}

.nav-mobile ul li a{
    padding: 8px 40%;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav-mobile li:hover{
    background: rgba(71,37,99,0.7);
}